
@import url('./reset.scss');

@mixin flexSpaceAround(){
    display: flex;
    justify-content: space-around;
    align-items:  center;
    border: 1px solid black;
    }

  div.navigate{
    position: fixed;
    width: 100%;
    @include flexSpaceAround();
 }
 p{
     font-size: 5rem;
 }
