  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      outline: none!important;
      text-decoration: none;
 
  }
  
  //For smooth scroll behavoiur
  html{
    scroll-behavior: smooth;

  }
  button{
    border: 0px solid;
    cursor: pointer;
  }

  a{
    list-style: none;
    text-decoration: none;
  }

  main{
    background-image:  url("/images/sasuke\ vs\ kinisuki.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }

