<!DOCTYPE html>
<html lang="en">
<head>
        <!--------------------------------------------META--TAGS--------------------------------------->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="canonical" href="https://www.auora.com / ">
        <meta name="keywords" content="all the keywords separated by a comma(,)">
        <meta name="author" content="splashAnime, anime">
        <meta name="author" content="Dilli Hang">
        <meta name="description" content="anime website">
    
        <!---------------------------------------------WEBSITE--TITLE---------------------------------->
        <title>Top Most Head</title>
        <!----------------------------------------------JQUERY--Framework------------------------------->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        <!----------------------------------------------Fontsawesome Icons------------------------------->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  type="text/javascript">

        <link rel="stylesheet" href="/dist/css/navigate.css" type="text/css">
        <!-- <link rel="stylesheet" href="/dist/css/mixins.css" type="text/css"> -->
     </head>
     <body>
     
            <!-- Navigation Bar Starts -->
            <div class="navigate">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </nav>
            </div>

               <!-- Navigation Bar Ends---->
               <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nisi non animi atque similique sed possimus, eveniet enim commodi inventore explicabo quisquam. Accusantium provident eos, aperiam neque praesentium ipsum eius cum optio rerum, consequatur fuga inventore rem corporis sunt voluptatem totam maiores iure labore quisquam? Doloremque cum voluptatibus nam fugit quas nobis, eius sint natus excepturi sed consequatur, dignissimos quibusdam molestiae? Totam sint velit placeat, nulla ipsa rem tenetur culpa esse itaque animi quibusdam quod laboriosam. Autem, sequi ab deleniti dolor laboriosam dicta aut quo obcaecati. Mollitia, quas dolore placeat voluptate, et atque recusandae adipisci aliquam, blanditiis pariatur quibusdam consequuntur?
               </p>



    </body>
    </html>

       